# Private Medical Research Data Exchange Frontend Environment Variables

VITE_NETWORK=preprod
VITE_NETWORK_ID=preprod
VITE_CONTRACT_ADDRESS=c4e4778c4b3d516bd43569b30f7e1ca6dbea268c5e997bb7473f77c9f88085cc
VITE_PROOF_SERVER_URL=http://localhost:6300


NEXT_PUBLIC_CONTRACT_ADDRESS=c4e4778c4b3d516bd43569b30f7e1ca6dbea268c5e997bb7473f77c9f88085cc
